@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: #f6edf6;
    overflow: hidden;
}

body.switched {
    transition: color 0.6s, background-color 0.6s;
}

h1, h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère */
}

h1 {
    font-size: 36pt; /* Augmente la taille du titre principal */
    margin-bottom: 20px; /* Augmente l'espace sous le titre principal */
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.subtitle {
    font-size: 20pt;
    font-style: italic;
    font-weight: lighter;
    color: #702963;
}

.header {
    padding-bottom: 3em;
    padding-top: 3em;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: white;
}

.switched .container {
    transition: background-color 0.6s;
}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 768px) {
    .success-box {
        /* Masque la success-box sur les appareils mobiles */
        display: none;
    }
}
/* Styles pour les ordinateurs */
@media screen and (min-width: 769px) {
    .success-box {
        /* Styles spécifiques pour les ordinateurs */
        position: fixed;
        top: 50px;
        left: 10px;
        z-index: 998;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .success-box-mobile{
        /* Masque la success-box sur les ordinateurs */
        display: none;
    }
    .arrow{
        display: none;
    }
}

.success-title {
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-style: normal;
    font-weight: lighter;
    color: #702963;
    margin-bottom: 10px;
    margin-top: 10px;
}

.success-columns {
    display: flex;
    margin-left: 10px;
}

.success-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Espacement entre les colonnes */
}

.success-images img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; /* Espacement entre les images */
}

/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 768px) {
    .success-box-mobile {
        position: fixed;
        top: 0;
        left: -100%; /* Masque la success-box en dehors de l'écran */
        width: 100%;
        height: 100%;
        background: white;
        z-index: 997;
        transition: left 0.3s ease; /* Animation de transition */
    }

    .success-box-mobile.show {
        left: 0; /* Fait glisser la success-box depuis la gauche */
    }

    .arrow {
        position: fixed;
        top: 50px;
        left: 10px;
        cursor: pointer;
        z-index: 998; 
        font-size: 20px;
        transition: transform 0.3s ease;
    }
    .rotate {
        transform: rotate(180deg); /* Applique une rotation de 180 degrés */
    }
    .success-box-mobile .content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les éléments horizontalement */
        justify-content: center; /* Centrer les éléments verticalement */
        height: 100%; /* Assurer que la hauteur de la boîte mobile est utilisée */
    }

    .success-box-mobile .success-images {
        flex: 1;
    }

    .success-box-mobile .success-image {
        margin-bottom: 10px; /* Espacement entre les images */
    }

}

.custom-tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    font-size: 14px; /* Taille de la police */
    max-width: 200px; /* Largeur maximale */
    word-wrap: break-word; /* Coupe les mots longs */
    z-index: 9999; /* Assure que le tooltip est en avant-plan */
}

p {
    font-size: 13pt;
    color: #888;
    line-height: 1.7em;
    font-weight: lighter;
}

a {
    color: #702963;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: black;
    transition: color 0.1s;
}

strong {
    color: black;
    font-weight: bold;
}

warning {
    color: black;
}

chapter {
    color: #702963;
    font-size: 25pt;
}

subchapter {
    font-style: italic;
    color: black;
}

expl {
    font-size: 11pt;
    color: #555;
    font-weight: lighter;
    margin-left: 4em;
    margin-right: 2em;
    display: block; 
    font-style: italic;   
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    text-align: center;
    z-index: 1000;
    font-size: 9pt;
    position: fixed;
    right: 14px;
    top: 4px;
    display: block;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background: white;
    top: 0;
    height: 14px;
    user-select: none;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 1001;
        padding-top: 22px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #702963; /* Red */
    color: white;
    margin-bottom: 15px;
    position: fixed;
    z-index: 9999;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Style de la boîte de dialogue modale */
.modal {
    display: none; /* Par défaut, la boîte de dialogue est cachée */
    position: fixed; 
    z-index: 10000; /* Valeur de z-index plus haute pour être au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
}

/* Contenu de la boîte de dialogue modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Positionnée au centre */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
}

/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 768px) {
    .modal {
        position: fixed; 
        z-index: 1000; /* Valeur de z-index plus haute pour être au-dessus des autres éléments */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: transparent; /* Pas d'arrière-plan grisé */
        animation: slideDown 0.5s ease, fadeOut 0.5s 2.5s forwards; /* Animation de glissement vers le bas et de disparition */
    }

    @keyframes slideDown {
        0% { top: -100%; } /* Démarre tout en haut de l'écran */
        100% { top: 0; } /* Se termine à la position 0 (tout en haut) */
    }

    @keyframes fadeOut {
        0% { opacity: 1; } /* Opacité à 100% au début */
        100% { opacity: 0; display: none; } /* Opacité à 0% à la fin */
    }

    .modal.show {
        display: block; /* Affiche la modal */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* Positionnée au centre */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 400px;
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
    }
}



/* Styles spécifiques pour les ordinateurs */
@media screen and (min-width: 769px) {
    .modal-content {
        margin: auto; /* Centre la boîte de dialogue horizontalement */
        max-width: 50%; /* Réduit légèrement la largeur */
        background-color: rgba(255, 255, 255, 0.9); /* Fond légèrement transparent */
        border-radius: 10px; /* Coins arrondis */
        border: 2px solid #ccc; /* Bordure grise */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée légère */
        position: fixed; /* Positionnement fixe pour centrer */
        top: 50%; /* Déplace la boîte de dialogue vers le milieu */
        left: 50%; /* Déplace la boîte de dialogue vers le milieu */
        transform: translate(-50%, -50%); /* Centrage vertical et horizontal */
    }
}

.modal-content:hover,
.modal-content:focus {
    cursor: pointer;
}

.flashlight {
    animation: flashlight 0.5s ease-out;
}

@keyframes flashlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes illuminate {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.illuminate {
    animation: illuminate 1s infinite;
}

.container {
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Transition pour le fond et l'ombre */
}

.choice a {
    transition: color 0.3s ease; /* Transition pour les liens de choix */
}
