@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    overflow: hidden;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(to bottom right, #ADD8E6, #87CEEB);
    overflow: hidden;
}

/* 
.background,
.matin,
.midi,
.aprem,
.soir {
    transition: background 5s ease;
}*/

/* CSS classes for different times of day */
.matin {
    background: linear-gradient(to bottom right, #E0FFFF, #B0E0E6);
}

.midi {
    background: linear-gradient(to bottom right, #ADD8E6, #87CEEB);
}

.aprem {
    background: linear-gradient(to bottom right, #87CEFA, #4682B4, #FFA07A);
}

.soir{
    background: linear-gradient(to bottom right, #87CEFA, #4682B4, #FFA07A);
}


.background span {
    z-index: -1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 1000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5), transparent);
    filter: blur(10px); /* Ajout de flou */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Effet d'ombre */
}



h1, h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(30, 42, 56, 0.4); /* Ajoute une ombre légère */
}

h1 {
    font-size: 36pt; /* Augmente la taille du titre principal */
    margin-bottom: 20px; /* Augmente l'espace sous le titre principal */
    color: #004080;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #004080;
}

.subtitle {
    font-size: 20pt;
    font-style: italic;
    font-weight: lighter;
    color: #333;
}

.header {
    padding-bottom: 3em;
    padding-top: 3em;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
    background: white;
    box-shadow: whitesmoke 0px 7px 29px 0px;
}

@media screen and (max-width: 650px) {
    .container {
        background: none;
        box-shadow: none;
    }
}

.switched .container {
    transition: background-color 0.6s;
}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 1175px) {
    .success-box {
        /* Masque la success-box sur les appareils mobiles */
        display: none;
    }
}
/* Styles pour les ordinateurs */
@media screen and (min-width: 1175px) {
    .success-box {
        /* Styles spécifiques pour les ordinateurs */
        position: fixed;
        top: 50px;
        left: 10px;
        z-index: 998;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 10px; /* Pour des coins arrondis */
        box-shadow: whitesmoke 0px 7px 29px 0px;
    }
    .success-box-mobile{
        /* Masque la success-box sur les ordinateurs */
        display: none;
    }
    .arrow{
        display: none;
    }
}

.success-title {
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-style: normal;
    font-weight: lighter;
    color: #004080;
    margin-bottom: 10px;
    margin-top: 10px;
}

.success-columns {
    display: flex;
    margin-left: 10px;
}

.success-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Espacement entre les colonnes */
}

.success-images img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; /* Espacement entre les images */
    margin-left: 10px;
    margin-right: 10px;
}

/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 757px) {
    .success-box-mobile.show {
        left: 50%; /* Fait glisser la success-box au milieu de l'écran */
    }
}

/* Styles spécifiques pour les ordinateurs */
@media screen and (min-width: 758px) and (max-width: 1175px) {
    .success-box-mobile.show {
        left: 20%; /* Fait glisser la success-box à 20% de la largeur de l'écran */
    }
}

/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 1175px) {
    .success-box-mobile {
        position: fixed;
        top: 50%; /* Positionne le haut de la boîte au milieu de l'écran */
        left: -150%; /* Hors de l'écran à gauche */
        transform: translate(-50%, -50%); /* Décale la boîte de moitié de sa largeur et de moitié de sa hauteur vers le haut et la gauche */
        min-height: 40%; /* Hauteur minimale de la boîte à 60% de la hauteur de l'écran */
        max-height: 80%; /* Hauteur maximale de la boîte à 90% de la hauteur de l'écran */
        width: 250px;
        z-index: 997;
        transition: left 0.3s ease; /* Animation de transition */

        background-color: #ffffff; /* Couleur de fond */
        border: 0px solid #004080; /* Bordure plus visible */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 0 40px 20px whitesmoke;  /* Ombre */
        padding-left: 20px;
        padding-right: 20px;
        padding: 10px; /* Espacement intérieur réduit */
        overflow: auto; /* Ajouter un défilement si le contenu dépasse */
    }

    .arrow {
        transform: rotate(180deg);
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
        top: 50px;
        left: 10px;
        cursor: pointer;
        z-index: 998; 
        font-size: 50px;
        transition: transform 0.3s ease;
    }
    @media screen and (max-width: 757px) {
        .arrow{font-size: 14vw;}
    }

    .rotate {
        transform: rotate(0deg); /* Applique une rotation de 180 degrés */
    }
    .success-box-mobile .content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les éléments horizontalement */
        justify-content: center; /* Centrer les éléments verticalement */
        height: 100%; /* Assurer que la hauteur de la boîte mobile est utilisée */
    }

    .success-box-mobile .success-images {
        flex: 1;
    }

    .success-box-mobile .success-image {
        margin-bottom: 10px; /* Espacement entre les images */
    }

}



.custom-tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    font-size: 14px; /* Taille de la police */
    max-width: 200px; /* Largeur maximale */
    word-wrap: break-word; /* Coupe les mots longs */
    z-index: 9999; /* Assure que le tooltip est en avant-plan */
}

p {
    font-size: 13pt;
    color: #888;
    line-height: 1.7em;
    font-weight: lighter;
}

p.new {
    color: #222; /* Gris très foncé */
}

p.old {
    color: #888; /* Gris clair */
}

a {
    color: #004080;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: black;
    transition: color 0.1s;
}

strong {
    color: black;
    font-weight: bold;
}

warning {
    color: black;
}

chapter {
    color: #004080;
    font-size: 25pt;
}

subchapter {
    font-style: italic;
    color: black;
}

expl {
    font-size: 11pt;
    color: #555;
    font-weight: lighter;
    margin-left: 4em;
    margin-right: 2em;
    display: block; 
    font-style: italic;   
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    text-align: center;
    z-index: 1000;
    font-size: 9pt;
    position: fixed;
    right: 14px;
    top: 4px;
    display: block;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background: white;
    top: 0;
    height: 14px;
    user-select: none;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 1001;
        padding-top: 22px;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 981px) {
    #controls {
        box-shadow: whitesmoke 0px 7px 29px 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
}   

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #004080;
    color: white;
    margin-bottom: 15px;
    position: fixed;
    z-index: 9999;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Style de la boîte de dialogue modale */
.modal {
    display: none; /* Par défaut, la boîte de dialogue est cachée */
    position: fixed; 
    z-index: 10000; /* Valeur de z-index plus haute pour être au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
    }

/* Contenu de la boîte de dialogue modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Positionnée au centre */
    padding: 20px;
    width: 80%; 
    max-width: 400px;
}

/* Styles spécifiques pour les appareils mobiles */
@media screen and (max-width: 1045px) {
    .modal {
        position: fixed; 
        z-index: 1000; /* Valeur de z-index plus haute pour être au-dessus des autres éléments */
        left: 0;
        bottom: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: transparent; /* Pas d'arrière-plan grisé */
        animation: slideDown 0.5s ease, fadeOut 0.5s 2.5s forwards; /* Animation de glissement vers le bas et de disparition */
    }

    @keyframes slideDown {
        0% { top: -100%; } /* Démarre tout en haut de l'écran */
        100% { top: 0; } /* Se termine à la position 0 (tout en haut) */
    }

    @keyframes fadeOut {
        0% { opacity: 1; } /* Opacité à 100% au début */
        100% { opacity: 0; display: none; } /* Opacité à 0% à la fin */
    }

    .modal.show {
        display: block; /* Affiche la modal */
    }

    .modal-content {
        margin: 15% auto; /* Positionnée au centre */
        padding: 20px;
        width: 80%; 
        max-width: 400px;
        border-radius: 10px; /* Coins arrondis */
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; /* Ombre portée légère */
    }
    #modal-message {
        color: #004080;
        text-align: center;
    }
}



/* Styles spécifiques pour les ordinateurs */
@media screen and (min-width: 769px) {
    .modal-content {
        margin: auto; /* Centre la boîte de dialogue horizontalement */
        max-width: 40%; /* Réduit légèrement la largeur */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; /* Ombre portée légère */
        position: fixed; /* Positionnement fixe pour centrer */
        top: 50%; /* Déplace la boîte de dialogue vers le milieu */
        left: 50%; /* Déplace la boîte de dialogue vers le milieu */
        transform: translate(-50%, -50%); /* Centrage vertical et horizontal */
    }
    #modal-message {
        color: #004080;
        text-align: center;
    }
}

.modal-content:hover,
.modal-content:focus {
    cursor: pointer;
}

.flashlight {
    animation: flashlight 0.5s ease-out;
}

@keyframes flashlight {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes illuminate {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.illuminate {
    animation: illuminate 1s infinite;
}

.container {
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Transition pour le fond et l'ombre */
}

.choice a {
    transition: color 0.3s ease; /* Transition pour les liens de choix */
}

.background span:nth-child(1) {
  top: -3%;
  left: -4%;
  animation-duration: 212.5s;
  animation-delay: -48.1s;
  transform-origin: 14vw -23vh;
}
.background span:nth-child(2) {
  top: 34%;
  left: 4%;
  animation-duration: 77.5s;
  animation-delay: -374.2s;
  transform-origin: 6vw -8vh;
}
.background span:nth-child(3) {
  top: 28%;
  left: 69%;
  animation-duration: 213.2s;
  animation-delay: -606.3s;
  transform-origin: 10vw -11vh;
}
.background span:nth-child(4) {
  top: 78%;
  left: 73%;
  animation-duration: 234.8s;
  animation-delay: -590.1s;
  transform-origin: -6vw -21vh;
}
.background span:nth-child(5) {
  top: 24%;
  left: 12%;
  animation-duration: 197.5s;
  animation-delay: -481.4s;
  transform-origin: -11vw -14vh;
}
.background span:nth-child(6) {
  top: 56%;
  left: 82%;
  animation-duration: 419.7s;
  animation-delay: -385.2s;
  transform-origin: 7vw -12vh;
}
.background span:nth-child(7) {
  top: -1%;
  left: 39%;
  animation-duration: 494.2s;
  animation-delay: -327.6s;
  transform-origin: 18vw 7vh;
}
.background span:nth-child(8) {
  top: 5%;
  left: 1%;
  animation-duration: 344.5s;
  animation-delay: -24.4s;
  transform-origin: -24vw 7vh;
}
.background span:nth-child(9) {
  top: 56%;
  left: 25%;
  animation-duration: 487.3s;
  animation-delay: -604.9s;
  transform-origin: -11vw -17vh;
}
.background span:nth-child(10) {
  top: 18%;
  left: 37%;
  animation-duration: 535.4s;
  animation-delay: -501.4s;
  transform-origin: 11vw 23vh;
}
.background span:nth-child(11) {
  top: 6%;
  left: 33%;
  animation-duration: 550.3s;
  animation-delay: -606.4s;
  transform-origin: 23vw -8vh;
}
.background span:nth-child(12) {
  top: 23%;
  left: 83%;
  animation-duration: 350s;
  animation-delay: -569.1s;
  transform-origin: -19vw -15vh;
}
.background span:nth-child(13) {
  top: 73%;
  left: 31%;
  animation-duration: 400.4s;
  animation-delay: -365.3s;
  transform-origin: 18vw -22vh;
}
.background span:nth-child(14) {
  top: 58%;
  left: 66%;
  animation-duration: 212.9s;
  animation-delay: -501.6s;
  transform-origin: 4vw -12vh;
}
.background span:nth-child(15) {
  top: 49%;
  left: 84%;
  animation-duration: 164.6s;
  animation-delay: -435s;
  transform-origin: 10vw 10vh;
}
.background span:nth-child(16) {
  top: -9%;
  left: 2%;
  animation-duration: 315.3s;
  animation-delay: -594.4s;
  transform-origin: -5vw 19vh;
}
.background span:nth-child(17) {
  top: -3%;
  left: 0%;
  animation-duration: 63.8s;
  animation-delay: -244.1s;
  transform-origin: 22vw -10vh;
}
.background span:nth-child(18) {
  top: 39%;
  left: 14%;
  animation-duration: 31.5s;
  animation-delay: -408.7s;
  transform-origin: 0vw -21vh;
}
.background span:nth-child(19) {
  top: 4%;
  left: 69%;
  animation-duration: 37.7s;
  animation-delay: -324.5s;
  transform-origin: 14vw -19vh;
}
.background span:nth-child(20) {
  top: 63%;
  left: -5%;
  animation-duration: 271.1s;
  animation-delay: -10.9s;
  transform-origin: -19vw -16vh;
}
.background span:nth-child(21) {
  top: 34%;
  left: 65%;
  animation-duration: 377.2s;
  animation-delay: -483.3s;
  transform-origin: 25vw 17vh;
}
.background span:nth-child(22) {
  top: 0%;
  left: 73%;
  animation-duration: 127.5s;
  animation-delay: -154.7s;
  transform-origin: -20vw 5vh;
}
.background span:nth-child(23) {
  top: 43%;
  left: 10%;
  animation-duration: 98.6s;
  animation-delay: -404.5s;
  transform-origin: 10vw -3vh;
}
.background span:nth-child(24) {
  top: 82%;
  left: 46%;
  animation-duration: 137.9s;
  animation-delay: -520.9s;
  transform-origin: -5vw 2vh;
}
.background span:nth-child(25) {
  top: 43%;
  left: 55%;
  animation-duration: 474.5s;
  animation-delay: -71.4s;
  transform-origin: -24vw 24vh;
}
.background span:nth-child(26) {
  top: 32%;
  left: 20%;
  animation-duration: 332.5s;
  animation-delay: -436.3s;
  transform-origin: 8vw -5vh;
}
.background span:nth-child(27) {
  top: 0%;
  left: 83%;
  animation-duration: 197.2s;
  animation-delay: -54.3s;
  transform-origin: -7vw 19vh;
}
.background span:nth-child(28) {
  top: 74%;
  left: 49%;
  animation-duration: 369s;
  animation-delay: -38.2s;
  transform-origin: -2vw -21vh;
}
.background span:nth-child(29) {
  top: 38%;
  left: 0%;
  animation-duration: 414.1s;
  animation-delay: -9.7s;
  transform-origin: 25vw -19vh;
}
.background span:nth-child(30) {
  top: 9%;
  left: -3%;
  animation-duration: 468s;
  animation-delay: -520.6s;
  transform-origin: -21vw -18vh;
}
.background span:nth-child(31) {
  top: 76%;
  left: 69%;
  animation-duration: 149.3s;
  animation-delay: -179.2s;
  transform-origin: -24vw -23vh;
}
.background span:nth-child(32) {
  top: 90%;
  left: 70%;
  animation-duration: 262.6s;
  animation-delay: -553.8s;
  transform-origin: 25vw -8vh;
}
.background span:nth-child(33) {
  top: 46%;
  left: 23%;
  animation-duration: 73.1s;
  animation-delay: -427.6s;
  transform-origin: -10vw -8vh;
}
.background span:nth-child(34) {
  top: 90%;
  left: 54%;
  animation-duration: 453.7s;
  animation-delay: -155s;
  transform-origin: -18vw -19vh;
}
.background span:nth-child(35) {
  top: -7%;
  left: 84%;
  animation-duration: 468.2s;
  animation-delay: -119.3s;
  transform-origin: -4vw -24vh;
}
.background span:nth-child(36) {
  top: 79%;
  left: 0%;
  animation-duration: 265.3s;
  animation-delay: -72.7s;
  transform-origin: -15vw -16vh;
}
.background span:nth-child(37) {
  top: 6%;
  left: 72%;
  animation-duration: 497s;
  animation-delay: -394.2s;
  transform-origin: -2vw -16vh;
}
.background span:nth-child(38) {
  top: 14%;
  left: 64%;
  animation-duration: 388.2s;
  animation-delay: -453.7s;
  transform-origin: 14vw -5vh;
}
.background span:nth-child(39) {
  top: 15%;
  left: 20%;
  animation-duration: 239.7s;
  animation-delay: -562s;
  transform-origin: 2vw -10vh;
}
.background span:nth-child(40) {
  top: 26%;
  left: 14%;
  animation-duration: 602.3s;
  animation-delay: -349.4s;
  transform-origin: 16vw -1vh;
}
.background span:nth-child(41) {
  top: -3%;
  left: -2%;
  animation-duration: 609.7s;
  animation-delay: -407.7s;
  transform-origin: -9vw 24vh;
}
.background span:nth-child(42) {
  top: 34%;
  left: -4%;
  animation-duration: 504s;
  animation-delay: -253.4s;
  transform-origin: 14vw 24vh;
}
.background span:nth-child(43) {
  top: 59%;
  left: 53%;
  animation-duration: 199.1s;
  animation-delay: -477.9s;
  transform-origin: -6vw 20vh;
}
.background span:nth-child(44) {
  top: 77%;
  left: 67%;
  animation-duration: 335.7s;
  animation-delay: -304.9s;
  transform-origin: 1vw 3vh;
}
.background span:nth-child(45) {
  top: 89%;
  left: 45%;
  animation-duration: 532s;
  animation-delay: -569.8s;
  transform-origin: -11vw -14vh;
}
.background span:nth-child(46) {
  top: 58%;
  left: 27%;
  animation-duration: 281.5s;
  animation-delay: -64.7s;
  transform-origin: -5vw -12vh;
}
.background span:nth-child(47) {
  top: 23%;
  left: 73%;
  animation-duration: 184.2s;
  animation-delay: -114.6s;
  transform-origin: 17vw 15vh;
}
.background span:nth-child(48) {
  top: 45%;
  left: 79%;
  animation-duration: 414.3s;
  animation-delay: -575.1s;
  transform-origin: -14vw 19vh;
}
.background span:nth-child(49) {
  top: 45%;
  left: 79%;
  animation-duration: 103.4s;
  animation-delay: -486.7s;
  transform-origin: 22vw 8vh;
}
.background span:nth-child(50) {
  top: 21%;
  left: 5%;
  animation-duration: 38.3s;
  animation-delay: -531.7s;
  transform-origin: 15vw 24vh;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}